.about_container {
    p {
        line-height: 2.2rem;
    }
    a {
        line-height: 1.28rem;
    }

    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "i i"
        "d d"
        "b b";

    @include media-md {
        width: 80%;
        margin: 0 auto;
    };
    @include media-lg {
         grid-template-areas:
        "i d"
        "i d"
        "i b";
        grid-gap: 1rem;
        
    }
    
}

.about-image {
    grid-area: i;
    height: 350px !important;
    @include media-md {
        height: 30rem !important;
        overflow: hidden;
    }
    @include media-lg {
        height: 40rem !important;
        overflow: hidden;
        margin-right: 2rem;
    }
}

.home-description-container {
    grid-area: d;
    padding: 2rem 0rem;
    @include media-md {
        height: 20rem;
    }
      @include media-lg {
        height: 30rem !important;
        margin-left: 2rem;
         padding: 4rem 2rem;
    }
}

.button-container {
    grid-area: b;
    padding-top: 2rem;
    
    @include media-md {
        padding-top: 0;
    }
       @include media-lg {
        height: 10rem !important;
        margin-left: 2rem;
         padding: 2rem 2rem 4rem;
    }
}
