.about_container {
    p {
        line-height: 2.2rem;
    }
    a {
        line-height: 1.28rem;
    }

    bottom: 0;
    width: 40rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "i i"
        "d d";

    @include media-md {
        width: 60rem;
        margin: 0 auto;
        grid-gap: 1rem;
    }

     @include media-lg {
         width: 100rem;
          grid-template-areas:
            "i d"
            "i d";
     }
     @include media-xl {
         width: 120rem;
     }
}

.about-image {
    grid-area: i;
    height: 350px !important;
    @include media-md {
        height: 40rem !important;
        overflow: hidden;
        margin-right: 2rem;
    }
    @include media-lg {
        height: 40rem !important;
        overflow: hidden;
    }
}

.home-description-container {
    grid-area: d;
    padding: 2rem 0rem;
    @include media-md {
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    @include media-lg {
        height: 40rem !important;
        padding: 4rem 2rem;
        margin: auto 0;
    }
}

