.about_container {
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "i i"
    "d d"
    "b b"
}

.about-image {
  grid-area: i;
}

.home-description-container {
   grid-area: d;
   padding: 2rem 0rem;
}

.button-container{
    grid-area: b;
}