.contact_container {
    
    @include media-md {
        margin: 0 auto;
        max-width: 60rem;
        padding: 0;
    }
}
.contact-form {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 2%;
    grid-template-rows: auto;
    margin-top: 2rem;
    z-index: -1;
}

.input-m,
.input-e,
.input-b {
    grid-column: span 2;
}

.input {
    height: 4rem;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-family: $main-font;
    font-size: 1.2rem;
    @include media-md {
        font-size: 1.4rem;
    }
}

.input-m {
    height: 15rem;
    display: relative;
}


.input-f, .input-l, .input-e, .input-m{ 
    position: relative
}

.secondary-p{
    position: absolute;
    background: #fff;
}

.secondary-p{
    position: absolute;
    padding: 0 .5rem;
    font-size: 1rem;
    opacity: 0;
    animation: fadeUp .1s ease forwards;
}
@keyframes fadeUp {
    from {
        left: 0;
        opacity: 0;
        transform: translateY(100%);
    }
    to {left: 1rem;
        opacity: 1;
        transform: translateY(-50%);
    }
}

.sending {
    border: none;
    color: $pink-color;
}

.serverdown {
    text-transform: capitalize;
}
