.error_container {
    position: absolute;
    background-color: $light-grey-color;
    height: 4rem;
    width: 70%;
    right: 0;
    bottom: 0;
    color: $dark-grey-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem !important;
    padding: 0 1rem;
}



.error_icon {
    height: 2rem !important;
    width: 2rem !important;
    margin-right: 1.5rem;
}