.footer_container {
    p{
        line-height: 2rem;
    }
    height: 20vh;
    background-color: $light-grey-color;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end;
    position: relative;
    padding: 2rem;
}


