.footer_container {
    height: 12rem;
    background-color: $light-grey-color;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
}

// .circle {
//     position: absolute;
//     background-color:$light-grey-color;
//     top: -3rem;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: -1;
//     height: 5rem;
//     width: 5rem;
//     border-radius: 50%;
//     text-align: center;
// }

// .back-to-top {
//     width: 3rem;
//     height: 3rem;
//     color: $main-font-color;
//     transform: translateY(.5rem);
//     animation: up 3s infinite;
//     overflow: hidden;
// }

.footer-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-link_f {
    font-size: 1rem;
}
.active_f {
    color: $pink-color;
    text-decoration: underline;
    font-family: $secondary-font;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-weight: 200;
     font-size: 1rem;
}

.nav-link_p {
    font-size: 0.8rem;
}

