nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 120 !important;

}

.nav {
    width: 100%;
    position: relative;
    z-index: 120 !important;
    background-color: #fff;
}

.mobile-nav {
    height: 7rem;
    display: flex;
    padding: 0 2rem 1rem;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-icon {
    height: 28px !important;
    width: 28px !important;
    z-index: 150 !important;
}

.overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.open .overlay {
    opacity: 1;
    height: 100vh;
}

.nav-list {
    display: flex;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 70px;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    z-index: 120;
    transform-origin: 90% 0%;
    transform: scale(0);
    transition: transform 0.5s ease;
}

.open .nav-list {
    transform: scale(1);
}

.nav-link {
    font-family: $secondary-font;
    font-size: 1.3rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-weight: 200;
    color: $main-font-color;
}

.active {
    color: $pink-color;
    text-decoration: underline;
    font-family: $secondary-font;
    font-size: 1.3rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-weight: 200;
}

.secondary_nav-container {
    display: flex;
    height: 18rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.secondary_nav-icons {
    color: $main-font-color;
    text-align: right;
    a {
        color: $main-font-color ;
    }
}

.secondary_nav-icon {
    height: 22px !important;
    width: 22px !important;
    margin-right: 1.2rem;
}

.secondary_nav-divider{
    color: $main-font-color ;
    margin: 0 auto;
    width: 100%;
}


.secondary_nav-page-heading{
    margin: 1rem 0 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
