nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 120 !important;
    p {
        line-height: 2rem;
    }
    a {
        line-height: 1.28rem;
    }
    @include media-md {
        height: 7rem;
        a {
            line-height: 1.5rem;
        }
    }
}

.nav {
    width: 100%;
    max-width: 140rem;
    position: relative;
    z-index: 120 !important;
    margin: 0 auto;
    background-color: #fff;
    @include media-md {
        padding: 0 4rem;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
      
      @include media-lg {
          padding: 0 10rem;
      }
}

.mobile-nav {
    height: 7rem;
    display: flex;
    padding: 0 2rem 1rem;
    justify-content: space-between;
    align-items: flex-end;
    @include media-md {
        flex: 1;
        padding: 0;
        width: auto;
        height: auto;
        justify-content: flex-end;
        display: inline;
        a {
            display: inline;
            h1 {
                display: inline;
            }
        }
    }
    @include media-lg {
          flex: 2;
      }
}

.nav-icon {
    height: 28px !important;
    width: 28px !important;
    z-index: 150 !important;
    @include media-md {
        display: none !important;
    }
}

.overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.open .overlay {
    opacity: 1;
    height: 100vh;
}

.nav-list {
    display: flex;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 70px;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    z-index: 120;
    transform-origin: 90% 0%;
    transform: scale(0);
    transition: transform 0.5s ease;
    @include media-md {
        flex: 1;
        flex-direction: row;
        height: 100%;
        width: 50%;
        top: auto;
        position: relative;
        transform-origin: none;
        transform: scale(1);
        width: auto;
        justify-content: space-between;
    }
      
}



.open .nav-list {
    transform: scale(1);
}

.nav-link {
    font-family: $secondary-font;
    font-size: 1.3rem;
    letter-spacing: 0.25rem;
    margin-right: -0.25rem;
    text-transform: uppercase;
    font-weight: 200;
    color: $main-font-color;
    transition: color .1s ease;
    @include media-md {
        font-size: 1.4rem;
        letter-spacing: 0.25rem;
    }
}

.nav-link:hover, .nav-link:focus {
    color: $pink-color;
    text-decoration: underline;
}


.active {
    color: $pink-color;
    text-decoration: underline;
    font-family: $secondary-font;
    font-size: 1.3rem;
    margin-right: -0.25rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-weight: 200;
    transition: all .6s ease;
    @include media-md {
        font-size: 1.4rem;
    }
}


.secondary_nav-container {
    display: flex;
    height: 14rem;
    flex-direction: column;
    justify-content: space-evenly;
    @include media-md {
        height: 20rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
     @include media-lg {
             height: 15rem;
            
        }
}

.secondary_nav-text {
    @include media-md {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.secondary_nav-icons {
    @include media-md {
        flex: 1;
    }
    color: $main-font-color;
    text-align: right;
    a {
        color: $main-font-color;
    }
}

.secondary_nav-icon {
    height: 22px !important;
    width: 22px !important;
    margin-right: 1.2rem;
    transition: all .1s ease;
    @include media-md {
        height: 25px !important;
        width: 25px !important;
        margin-right: 1.3rem;
    }
}

.secondary_nav-icon:hover, .secondary_nav-icon:focus {
    scale: 1.15;
}

.secondary_nav-page-heading {
    margin: 0rem 0rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include media-md {
        margin-bottom: 3rem;
    }
}

.secondary_nav-heading {
    @include media-md {
        margin-bottom: 1rem;
    }
}
