.projects-container {
    width: 100%;
    @include media-md {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 0.8fr 0.8fr;
        grid-template-rows: (15rem auto);
        grid-auto-flow: dense;
        grid-gap: 3rem;
    }
    @include media-lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: (38rem auto);
    }
}

.project-card {
    width: 100%;
    max-width: 100%;
    height: 38rem;
    margin: 0rem auto 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $light-grey-color;

    @include media-md {
        width: auto;
        grid-row: span 2;
        margin: 0;
    }
    @include media-lg {
        grid-row: span 1;
    }
}

.project-card:nth-child(2),
.project-card:nth-child(4),
.project-card:nth-child(6),
.project-card:nth-child(10),
.project-card:nth-child(14)
{
    @include media-md {
        height: auto;
        grid-row: span 3;

        .project-card-description {
            height: 25% !important;
            min-height: 25% !important;
        }

        .project-image {
            height: 75% !important;
        }
    }
    @include media-lg {
        height: 60rem;
        grid-row: span 2;
    }
}





.project-image {
    min-height: 60%;
    overflow: hidden;
}

.project-card-description {
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 2rem;
    p {
        line-height: 2rem;
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-end;
}

// PROJECT DETAILS

.project-details_container {
    @include media-md {
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    @include media-lg {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    p {
        line-height: 2rem;
        text-align: left !important;
    }
}
.article-image {
    width: 100%;
    max-height: 300px;
    margin-bottom: 2rem;
    @include media-md {
        max-height: 600px;
    }
}

.project-details-blog {
    @include media-lg {
        max-width: 800px;
    }
}

.article-p {
    margin-bottom: 5rem;
    line-height: 3rem !important;
}

.project-details {
    margin-bottom: 1rem;
    text-align: left !important;
    @include media-lg {
        margin: 3rem 3rem;
    }
}

.project-details-child {
    margin-bottom: 1.5rem;
    @include media-lg {
        margin-bottom: 2.5rem;
    }
}
